.contact-title-text {
    width: 1250px;
}

.contact-contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 15rem;
    transition: opacity 3s;
    margin-left: auto;
    margin-right: auto;
}

.contact-contact-icons i {
    font-size: 3rem;
    transition: opacity 0.3s;
}

.contact-contact-icons i:hover {
    opacity: 0.3;
}

@media (max-width: 510px) {
    .contact-title-text {
        width: 300px;
    }
}