.tech-stack-button-container {
    display: flex;
    justify-content: center;
}

.tech-stack-button {
    font-size: 1.5rem;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s;
}

.tech-stack-button:hover {
    opacity: 0.5;
}

.tech-stack {
    min-height: 5rem;
    max-width: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: min(5vh);
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
}

.remove-tech-stack-button {
    display: none;
}

.open-tech-stack {
    opacity: 1;
    visibility: visible;
}

.icon {
    cursor: pointer;
    transition: opacity 0.3s;
}

.icon:hover {
    opacity: 0.3;
}

.tech-stack i {
    font-size: 3rem;
    transition: opacity 0.3s;
}