.tech-stack-button-container {
    display: flex;
    justify-content: center;
}

.tech-stack-button {
    font-size: 1.5rem;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s;
}

.tech-stack-button:hover {
    opacity: 0.5;
}

.tech-stack {
    min-height: 5rem;
    max-width: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: min(5vh);
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
}

.remove-tech-stack-button {
    display: none;
}

.open-tech-stack {
    opacity: 1;
    visibility: visible;
}

.dot-net-icon {
    height: 2.625rem;
    width: 2.625rem;
    color: #b0afaf;
    cursor: pointer;
    background-color: #442a9d;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.html5-icon {
    color: #a83d22;
}

.css3-icon {
    color: #267099;
}

.javascript-icon {
    color: #b4a319;
}

.dot-net-icon:hover {
    opacity: 0.3;
}

.tech-stack i {
    font-size: 3rem;
    transition: opacity 0.3s;
}

.tech-stack i:hover {
    opacity: 0.3;
}
