/*---------- General ----------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #1b191a;
    color: #efefef;
    text-align: center;
    line-height: 1.5;
    font-family: "MedievalSharp", serif;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding-right: 1.5rem;
    transition: box-shadow 1s, background-color 1s, opacity 0.15s;
}

main {
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

a {
    text-decoration: none;
    color: #efefef;
}

.title-container {
    display: flex;
    min-height: 20vh;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}

.title-text {
    width: 1000px;
}

.contact-icons i {
    font-size: 3rem;
    transition: opacity 0.3s;
}

.contact-icons i:hover {
    opacity: 0.3;
}

.linkedin-icon {
    color: #0a66c2;
}

.github-icon {
    color: #efefef;
}

.mail-icon {
    color: #f84a3d;
}

.copy-right-symbol p {
    margin-top: 0.15625rem;
}

.down-arrow {
    height: 10rem;
    margin-bottom: 7rem;
}

.down-arrow p {
    font-size: 5rem;
}

@media (max-width: 510px) {
    h1 {
        font-size: 2rem;
    }

    .title-text {
        width: 200px;
    }

    .down-arrow {
        margin-bottom: 2rem;
    }
}

/*---------- Coat Of Arms ----------*/

.coat-of-arms {
    height: 300px;
    width: 300px;
    object-fit: cover;
    z-index: 0;
}

@media (max-width: 510px) {
    .coat-of-arms {
        height: 200px;
        width: 200px;
    }
}

/*---------- Easter Eggs ----------*/

.the-best-team-in-the-world {
    background: linear-gradient(to right,
            #ffe708 0%, #ffe708 38%,
            #dd151c 38%, #dd151c 62%,
            #2066af 62%, #2066af 100%);
    color: #030f28;
    border: 1rem solid #d7bc70;
}

.the-best-team-in-the-world .sidebar {
    background-color: #030f28;
    border: 0.5rem solid #d7bc70;
}

/*.the-best-team-in-the-world i {*/
/*    color: #030f28;*/
/*}*/

.the-best-team-in-the-world .dot-net-icon {
    border: 2px solid #030f28;
    background-color: transparent;
    color: #030f28;
}

.the-best-team-in-the-world .about-information-container>figure {
    background-color: #d7bc70;
}

.the-best-team-in-the-world .learn-more-button {
    color: #030f28;
}

.the-best-team-in-the-world .footer-linkedin-link {
    color: #030f28;
}

.the-best-team-in-the-world .project-image-container {
    border-color: #d7bc70;
}

.the-best-team-in-the-world .cv-picture-container {
    border-color: #d7bc70;
}